*{
  color: #323334;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.hero {
  background-color: #DBD0CCCC;
  padding: 115px 300px 115px 400px;
  display: flex;
  align-items: center;
}

.hero-content {
  margin-left: 130px;
}


.hero p {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 25px;
}

.hero h1 {
  color: #A86A3D;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.products {
  padding: 150px 250px;
}
  
.filters {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;

}

.filtrering {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
  
.filters label {
  margin-right: 20px;
}
  
.filters select {
  padding: 10px 15px; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  font-size: 17px;
  font-weight: 300;
  background-color: white; 
  cursor: pointer; 
}
  
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
  
.product {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
  
.product:hover {
  transform: translateY(-5px);
}
  
.product img {
  width: 50%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 25px;
}
  
.product h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
  
.product p {
  margin-bottom: 20px;
}
  
.product-form-style input,
.product-form-style textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-form-style textarea {
  height: 100px;
  resize: vertical;
}

.add-product {
  background-color: #f7f7f7; 
  padding: 20px;
  border-radius: 8px;
  max-width: 600px; 
  margin: 20px auto; 
}


.add-product h2 {
  text-align: center;
  color: #A86A3D;
}

.modal {
  display: none; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #A86A3D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5e3e28;
}

button:focus {
  outline: none;
}

.footer-text {
  color: #ffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
}
  
